# FastAPI Settings
PROJECT_NAME=PRobe
DEBUG=True

# Database & Redis Settings
# For Docker setup, use 'db' and 'redis' hosts. For local run without Docker, use 'localhost'.
DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/probe
REDIS_URL=redis://redis:6379/0

# GitHub App Configuration
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=my_webhook_secret_123
VERIFY_GITHUB_WEBHOOKS=False

# Anthropic API Configuration
ANTHROPIC_API_KEY=
